.wrapperListOfExport {
    width: 1px;
    height: auto;
    position: absolute;
    top: 106%;
    left: 32%;
    border-radius: 10px;
    background: #fff;

}
.iconright{
    position: absolute; 
    left: 273px;
    font-size: 200px;
}

.itemlist {
    position: absolute;
    top: 86%;
}
.itemlist1 {
    position: absolute;
    top: 79%;
}


.wrapper {
    position: absolute;
    width: 300px;
    height: 350px;
    top: 34%;
    left: 31%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.wrapper .menu {
    padding: 10px 12px;
}

.content .item {
    list-style: none;
    font-size: 22px;
    height: 50px;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 0 5px 0 10px;
}

.content .item:hover {
    background: #f2f2f2;
}

.content .item span {
    margin-left: 8px;
    font-size: 16px;
}
.content .share {
    position: relative;
    justify-content: space-between;
}

.css-i4bv87-MuiSvgIcon-root {
    font-size: 1.3rem;
}

.Menu {
    position: relative;
}
.selected {
    background-color: lightblue;
}
td.right-align {
    text-align: right;
}

td.center-align {
    text-align: center;
}

td.left-align {
    text-align: left;
}

.content .share {
    position: relative;
    justify-content: space-between;
}

.share .share-menu {
    position: absolute;
    background: #fff;
    width: 200px;
    right: -200px;
    top: -35px;
    padding: 13px;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.share:hover .share-menu {
    opacity: 1;
    pointer-events: auto;
}
.auto{
    width: auto;
}
/* .setWidthcolumns{
    width:auto;
} */

/* .css-i4bv87-MuiSvgIcon-root{
   
    padding-left:157px;
} */